depthai==3.5.0
depthai-nodes @ git+https://github.com/luxonis/depthai-nodes.git@changes_for_oak_examples_update
opencv-python-headless~=4.10.0
tokenizers~=0.21.0
onnxruntime
requests
dotenv
python-box
pydantic
