depthai==3.5.0
depthai-nodes @ git+https://github.com/luxonis/depthai-nodes.git@changes_for_oak_examples_update
opencv-python-headless~=4.10.0
numpy>=1.22
onnxruntime
# onnxruntime-gpu # if you want to use CUDAExecutionProvider
requests

# tokenizers: pick depending on Python version
tokenizers==0.20.3; python_version < "3.9"
tokenizers==0.21.4; python_version >= "3.9"