depthai==3.8.0
depthai-nodes @ git+https://github.com/luxonis/depthai-nodes.git@3fa02fbe9d7c8212c6e9739614e87234503893d2
opencv-python-headless~=4.10.0
numpy>=1.22
onnxruntime
# onnxruntime-gpu # if you want to use CUDAExecutionProvider
onnx # to pin dynamic input shapes for the NPU (QNN EP) path
requests

# tokenizers: pick depending on Python version
tokenizers==0.20.3; python_version < "3.9"
tokenizers==0.21.4; python_version >= "3.9"
