depthai==3.10.0
# TODO: Local testing only; replace this branch pin with a released depthai-nodes version.
depthai-nodes @ https://github.com/luxonis/depthai-nodes/archive/refs/heads/feat/dai_beta_messages.zip
opencv-python-headless~=4.10.0
numpy>=1.22
tokenizers~=0.21.0
onnxruntime
open3d~=0.18
scipy==1.11.4
# onnxruntime-gpu # if you want to use CUDAExecutionProvider
requests
tqdm
