--extra-index-url https://artifacts.luxonis.com/artifactory/luxonis-python-snapshot-local/
depthai==3.5.0.dev0+cd4aa116055ffd9f767b2e416808a67a647e3000
depthai-nodes @ git+https://github.com/luxonis/depthai-nodes.git@changes_for_oak_examples_update
opencv-python==4.10.0.84
numpy>=1.22
