depthai==3.2.1
#--extra-index-url https://artifacts.luxonis.com/artifactory/luxonis-python-release-local/
#--pre
#depthai==3.2.0-rc0
#depthai-nodes==0.3.6
depthai-nodes @ git+https://github.com/luxonis/depthai-nodes.git@feat/new_snaps_producer
opencv-python-headless~=4.10.0
numpy>=1.22
tokenizers~=0.21.0
onnxruntime
# onnxruntime-gpu # if you want to use CUDAExecutionProvider
requests
dotenv
python-box
pydantic
